<!-- temp.html -->
<html>
    <head></head>
    <body>
        <h1>Temporary API Testing</h1>
        <a href="{{url_for('book')}}">Book page</a> <br/>
        <h4>Book json</h4>
        <a href="{{url_for('bookjson')}}">bookjson()</a><br />
        <h4>Author json</h4>
        <a href="{{url_for('authorjson')}}">authorjson()</a><br />
        <h4>Publisher json</h4>
        <a href="{{url_for('publisherjson')}}">publisherjson()</a><br />
    </body>
</html>